.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
        text-align: center;
    }

#hero{
    background: url(../images/darts-worlds-hero.jpg) no-repeat center;
    height: 600px;
    width:100%;
    color:aqua
}